body{
    text-align: center;
}
.box{
    height: 200px;
    width: 200px;
    border: 1px red solid;
    background-color: blueviolet;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
li{
    margin: 20px;
    display: inline-block;
    border: 1px red solid;
    width: 300px;
    height: 80px;
    background-color: coral;
}

li.completed{
    background-color: green;
}
