<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue</title>
    <script src="js/vue.global.js"></script>
</head>
<body>
    <h1>First App Using Vue js</h1>
    <div id="app">
    <!-- START OF VUE JS APP    -->
        <label>Hours</label>
        <input type="text" v-model="hour">
        <label>Minutes</label>
        <input type="text" v-model="minute">
        <label>Seconds</label>
        <input type="text" v-model="second">

    <!-- END OF VUE JS APP -->
    </div>
    <script src="js/app.js"></script>
</body>
</html>
