<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue</title>
    <script src="js/vue.global.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Learn Vue JS</h1>
    <!-- START OF VUE JS APP    -->
    <div id="app">
        <fieldset id="Directives">
            <legend>Directives and Methods</legend>
            <input type="text" placeholder="Insert Book's Title .. Then Press Enter .. To DELETE a book press 'CTRL KEY' + 'Left Click'" v-model="newBookTitle" @keyup.enter="addBook" autofocus>
            <!-- <button @click="addBook">Save</button> -->
            <ul>
                <li v-for="(book, index) in books" :key='index' v-bind:class="{completed: book.read}" @click="toggleRead(book)" @click.ctrl="deleteBook(index)">
                    <p>{{book.title}}</p>
                    <span>{{book.read}}</span>
                </li>
            </ul>
        </fieldset>
        <fieldset id="Watchers">
            <legend>Watchers</legend>
            <label>Hours</label><input type="text" v-model="hour">
            <label>Minutes</label><input type="text" v-model="minute">
            <label>Seconds</label><input type="text" v-model="second">
        </fieldset>
            

    <!-- END OF VUE JS APP -->
    </div>
    <script src="js/app.js"></script>
</body>
</html>
